# Load Package

In [107]:
# loading package
import pandas as pd
import numpy as np

# Load Dataset

In [108]:
# load dataset
train = pd.read_csv('./raw_data/train.csv')
train

,id,country,description,points,price,province,variety
0,0,US,A nice starter Pinot for the price. Will intro...,86,14.0,California,Pinot Noir
1,1,Germany,This wine comes out of the bottle a little cra...,90,18.0,Mosel-Saar-Ruwer,Riesling
2,2,US,This easy-drinking Pinot Noir offers layers of...,85,28.0,California,Pinot Noir
3,3,France,"An attractive and ripely fruited Cab, this ope...",88,17.0,France Other,Cabernet Sauvignon
4,4,US,The vineyard is located in the western part of...,93,75.0,California,Pinot Noir
...,...,...,...,...,...,...,...
57051,57051,US,"Enticing, subtle pear, mango and nutmeg aromas...",92,40.0,California,Chardonnay
57052,57052,US,Very fresh on the nose but with an underlying ...,93,55.0,California,Chardonnay
57053,57053,US,Very delicious in terms of sheer flavor. Flood...,87,45.0,California,Pinot Noir
57054,57054,US,The nose of this bottling is quite shy. After ...,85,20.0,California,Cabernet Sauvignon
57055,57055,US,"Even at this price, this Cab is hard to like. ...",80,10.0,California,Cabernet Sauvignon

In [109]:
test = pd.read_csv('./raw_data/test.csv')
test

,id,country,description,points,price,province
0,57056,US,This cuvée gets some extra time in 40% new woo...,90,35.0,Oregon
1,57057,France,This is a ripe wine with a good balance betwee...,92,NaN,Burgundy
2,57058,US,Shows off the reasons why Dry Creek has achiev...,87,20.0,California
3,57059,Italy,"Here's a Cab with aromas of beef broth, cigar ...",87,NaN,Tuscany
4,57060,New Zealand,"A bold, fruit-driven style of Sauvignon Blanc,...",88,13.0,Marlborough
...,...,...,...,...,...,...
14261,71317,US,"The aromas of this rosé of Cabernet Sauvignon,...",86,14.0,Virginia
14262,71318,France,This powerful effort is holding back on its ri...,93,NaN,Bordeaux
14263,71319,US,This wine consists of all five red Bordeaux va...,88,55.0,California
14264,71320,US,"Here's a likeable Chard, with peach, pear and ...",85,19.0,California
14265,71321,Australia,"Featuring tobacco, cassis and lesser quantitie...",90,19.0,South Australia

# Combine test and train to master

In [110]:
# combine and displaying
test['variety'] = np.nan
master = pd.concat([train,test], axis=0, sort=False)
master = master.reset_index()

# Drop the columns
master = master.drop(columns = ['index','id'])

master

,country,description,points,price,province,variety
0,US,A nice starter Pinot for the price. Will intro...,86,14.0,California,Pinot Noir
1,Germany,This wine comes out of the bottle a little cra...,90,18.0,Mosel-Saar-Ruwer,Riesling
2,US,This easy-drinking Pinot Noir offers layers of...,85,28.0,California,Pinot Noir
3,France,"An attractive and ripely fruited Cab, this ope...",88,17.0,France Other,Cabernet Sauvignon
4,US,The vineyard is located in the western part of...,93,75.0,California,Pinot Noir
...,...,...,...,...,...,...
71317,US,"The aromas of this rosé of Cabernet Sauvignon,...",86,14.0,Virginia,NaN
71318,France,This powerful effort is holding back on its ri...,93,NaN,Bordeaux,NaN
71319,US,This wine consists of all five red Bordeaux va...,88,55.0,California,NaN
71320,US,"Here's a likeable Chard, with peach, pear and ...",85,19.0,California,NaN
71321,Australia,"Featuring tobacco, cassis and lesser quantitie...",90,19.0,South Australia,NaN

# Missing Values

In [111]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [112]:
missing_values_table(master)

Your selected dataframe has 6 columns.
There are 4 columns that have missing values.

          Missing Values  % of Total Values
variety            14266               20.0
price               4088                5.7
country               26                0.0
province              26                0.0

In [113]:
# fill missing values with mean and mode 
master['price'].fillna(master['price'].mode()[0], inplace=True) 
master['country'].fillna(master['country'].mode()[0], inplace=True) 
master['province'].fillna(master['province'].mode()[0], inplace=True)

In [114]:
missing_values_table(master)

Your selected dataframe has 6 columns.
There are 1 columns that have missing values.

         Missing Values  % of Total Values
variety           14266               20.0

 # Data Analysis

In [115]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71322 entries, 0 to 71321
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      71322 non-null  object
 1   description  71322 non-null  object
 2   points       71322 non-null  int64
 3   price        71322 non-null  float64
 4   province     71322 non-null  object
 5   variety      57056 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 3.3+ MB

# Normalization for numeric features

In [116]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Create the scaler object 
scaler = StandardScaler()

# divide master into x and y
X, y = master.iloc[:, :-1], master.iloc[:, -1]

# extract column names
col_names = list(X)

print(X.shape)

(71322, 5)

In [117]:
# check y
print(y.shape)

(71322,)

In [118]:
# check column names
col_names

['country', 'description', 'points', 'price', 'province']

In [119]:
# Fit on the training data
scaler.fit(X.select_dtypes(exclude='object'))

# Transform both the training and testing data
X_numeric = scaler.transform(X.select_dtypes(exclude='object'))

In [120]:
# convert matrix back to data frame
X_numeric = pd.DataFrame(X_numeric, columns=['points','price'])
X_numeric

         points     price
0     -0.830115 -0.516287
1      0.445618 -0.426820
2     -1.149049 -0.203153
3     -0.192249 -0.449187
4      1.402417  0.848082
...         ...       ...
71317 -0.830115 -0.516287
71318  1.402417 -0.382087
71319 -0.192249  0.400748
71320 -1.149049 -0.404454
71321  0.445618 -0.404454

[71322 rows x 2 columns]

In [121]:
X = pd.concat([X_numeric, X.select_dtypes('object')], axis = 1)
X

,points,price,country,description,province
0,-0.830115,-0.516287,US,A nice starter Pinot for the price. Will intro...,California
1,0.445618,-0.426820,Germany,This wine comes out of the bottle a little cra...,Mosel-Saar-Ruwer
2,-1.149049,-0.203153,US,This easy-drinking Pinot Noir offers layers of...,California
3,-0.192249,-0.449187,France,"An attractive and ripely fruited Cab, this ope...",France Other
4,1.402417,0.848082,US,The vineyard is located in the western part of...,California
...,...,...,...,...,...
71317,-0.830115,-0.516287,US,"The aromas of this rosé of Cabernet Sauvignon,...",Virginia
71318,1.402417,-0.382087,France,This powerful effort is holding back on its ri...,Bordeaux
71319,-0.192249,0.400748,US,This wine consists of all five red Bordeaux va...,California
71320,-1.149049,-0.404454,US,"Here's a likeable Chard, with peach, pear and ...",California
71321,0.445618,-0.404454,Australia,"Featuring tobacco, cassis and lesser quantitie...",South Australia

# Dealing with Description

In [122]:
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import *
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jiachengzhu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [123]:
# stop words are words such as "a", "an", "the", which does not have sementic meaning
# we can drop them to prevent overfitting
# I also set the minimum frequency of the word to be 0.01 to drop words occured in very low frequency
vectorizer = TfidfVectorizer(stop_words=stopwords.words('english'), min_df=0.01)
master_feat = vectorizer.fit_transform(X['description'])
#test_feat = vectorizer.transform(test_X['description'])

In [124]:
master_feat.toarray().shape

(71322, 438)

In [125]:
vectorizer.get_feature_names()

['10',
 '100',
 '20',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 'accented',
 'accents',
 'acid',
 'acidic',
 'acidity',
 'acids',
 'across',
 'add',
 'adds',
 'aftertaste',
 'age',
 'aged',
 'aging',
 'alcohol',
 'almost',
 'along',
 'alongside',
 'already',
 'also',
 'although',
 'ample',
 'anise',
 'another',
 'appealing',
 'appellation',
 'apple',
 'apples',
 'approachable',
 'apricot',
 'aroma',
 'aromas',
 'aromatic',
 'around',
 'attractive',
 'back',
 'baked',
 'baking',
 'balance',
 'balanced',
 'barrel',
 'based',
 'beautiful',
 'beautifully',
 'berries',
 'berry',
 'best',
 'better',
 'big',
 'bit',
 'bitter',
 'black',
 'blackberries',
 'blackberry',
 'blanc',
 'blend',
 'blossom',
 'blue',
 'blueberry',
 'bodied',
 'body',
 'bold',
 'bordeaux',
 'bottle',
 'bottling',
 'bouquet',
 'bright',
 'brings',
 'brisk',
 'butter',
 'buttered',
 'cab',
 'cabernet',
 'candied',
 'candy',
 'caramel',
 'cassis',
 'cedar',
 'cellar',
 'character',
 'chardonnay',
 'cherries',
 'cherry',
 'chewy',
 'chocolate',
 'cinnamon',
 'citrus',
 'citrusy',
 'classic',
 'clean',
 'clove',
 'cocoa',
 'coffee',
 'cola',
 'color',
 'come',
 'comes',
 'complex',
 'complexity',
 'concentrated',
 'concentration',
 'cool',
 'core',
 'could',
 'cranberry',
 'creamy',
 'crisp',
 'crushed',
 'currant',
 'currants',
 'cut',
 'dark',
 'deep',
 'delicate',
 'delicious',
 'delivers',
 'dense',
 'depth',
 'despite',
 'develop',
 'dried',
 'drink',
 'drinking',
 'driven',
 'dry',
 'dusty',
 'earth',
 'earthy',
 'easy',
 'edge',
 'elegance',
 'elegant',
 'elements',
 'end',
 'enjoy',
 'enough',
 'espresso',
 'estate',
 'even',
 'exotic',
 'family',
 'feel',
 'feels',
 'fermented',
 'fine',
 'finish',
 'finishes',
 'finishing',
 'firm',
 'first',
 'flavor',
 'flavored',
 'flavors',
 'floral',
 'flower',
 'flowers',
 'focused',
 'followed',
 'food',
 'forest',
 'forward',
 'fragrant',
 'franc',
 'french',
 'fresh',
 'freshness',
 'front',
 'fruit',
 'fruitiness',
 'fruits',
 'fruity',
 'full',
 'generous',
 'give',
 'gives',
 'giving',
 'glass',
 'go',
 'good',
 'grape',
 'grapefruit',
 'grapes',
 'graphite',
 'great',
 'green',
 'grilled',
 'grown',
 'hard',
 'heavy',
 'herb',
 'herbal',
 'herbs',
 'high',
 'hint',
 'hints',
 'honey',
 'impressive',
 'integrated',
 'intense',
 'intensity',
 'interesting',
 'jam',
 'jammy',
 'juice',
 'juicy',
 'layered',
 'layers',
 'lead',
 'leaf',
 'lean',
 'least',
 'leather',
 'lemon',
 'length',
 'licorice',
 'light',
 'lightly',
 'like',
 'lime',
 'lingering',
 'little',
 'lively',
 'long',
 'lot',
 'lots',
 'lovely',
 'lush',
 'made',
 'make',
 'makes',
 'making',
 'malbec',
 'mango',
 'many',
 'mature',
 'meat',
 'medium',
 'melon',
 'merlot',
 'midpalate',
 'mineral',
 'minerality',
 'mint',
 'mix',
 'mocha',
 'months',
 'mouth',
 'mouthfeel',
 'much',
 'needs',
 'new',
 'next',
 'nice',
 'nicely',
 'noir',
 'nose',
 'note',
 'notes',
 'oak',
 'oaky',
 'offering',
 'offers',
 'old',
 'olive',
 'one',
 'open',
 'opens',
 'opulent',
 'orange',
 'overall',
 'packed',
 'pair',
 'palate',
 'peach',
 'pear',
 'peel',
 'pepper',
 'peppery',
 'perfumed',
 'petit',
 'pie',
 'pineapple',
 'pink',
 'pinot',
 'pleasant',
 'plenty',
 'plum',
 'plump',
 'plums',
 'plush',
 'polished',
 'pomegranate',
 'potential',
 'power',
 'powerful',
 'pretty',
 'price',
 'produced',
 'producer',
 'provide',
 'pure',
 'purple',
 'quality',
 'quite',
 'raspberries',
 'raspberry',
 'rather',
 'ready',
 'red',
 'refreshing',
 'rich',
 'richness',
 'riesling',
 'right',
 'ripe',
 'ripeness',
 'roasted',
 'rose',
 'rosé',
 'round',
 'rounded',
 'sage',
 'sandalwood',
 'sangiovese',
 'sauvignon',
 'savory',
 'scents',
 'seems',
 'sense',
 'sharp',
 'show',
 'showing',
 'shows',
 'side',
 'silky',
 'simple',
 'single',
 'sip',
 'skin',
 'slightly',
 'small',
 'smells',
 'smoke',
 'smoky',
 'smooth',
 'soft',
 'solid',
 'somewhat',
 'soon',
 'sour',
 'spice',
 'spices',
 'spicy',
 'steely',
 'still',
 'stone',
 'straightforward',
 'strawberry',
 'streak',
 'strong',
 'structure',
 'structured',
 'style',
 'subtle',
 'sugar',
 'supple',
 'sweet',
 'sweetness',
 'syrah',
 'tangerine',
 'tangy',
 'tannic',
 'tannin',
 'tannins',
 'tart',
 'taste',
 'tastes',
 'tea',
 'texture',
 'textured',
 'thick',
 'though',
 'tight',
 'tightly',
 'time',
 'toast',
 'toasted',
 'toasty',
 'tobacco',
 'together',
 'tones',
 'top',
 'touch',
 'touches',
 'tropical',
 'two',
 'valley',
 'vanilla',
 'varietal',
 'variety',
 'velvety',
 'verdot',
 'vibrant',
 'vines',
 'vineyard',
 'vineyards',
 'vintage',
 'violet',
 'warm',
 'way',
 'weight',
 'well',
 'wet',
 'whiff',
 'white',
 'wild',
 'wine',
 'winemaker',
 'winery',
 'wines',
 'without',
 'wood',
 'would',
 'year',
 'years',
 'yellow',
 'yet',
 'young',
 'zest',
 'zesty']

In [126]:
master_feat

<71322x438 sparse matrix of type '<class 'numpy.float64'>'
	with 1172476 stored elements in Compressed Sparse Row format>

In [127]:
baseline = pd.DataFrame(master_feat.toarray(),columns= vectorizer.get_feature_names())
baseline

,10,100,20,2015,2016,2017,2018,2019,2020,accented,...,without,wood,would,year,years,yellow,yet,young,zest,zesty
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.203104,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.255432,0.0
71318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.247625,0.0,0.0,0.0,0.000000,0.0
71319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
71320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
71321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.24132,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0

# one hot key for country and province

In [128]:
# Transform 6 categorical features
data_cate = pd.get_dummies(X[['country','province']],
                   prefix=['country','province'])
data_cate

,country_Argentina,country_Armenia,country_Australia,country_Austria,country_Brazil,country_Bulgaria,country_Canada,country_Chile,country_Croatia,country_Cyprus,...,province_Weinviertel,province_Wellington,province_Western Australia,province_Western Cape,province_Württemberg,province_Zenata,province_Österreichischer Perlwein,province_Österreichischer Sekt,province_Štajerska,province_Župa
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71320,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71321,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# recombine the master dataset

In [129]:
data_numeric = X[['points','price']]
data_numeric

         points     price
0     -0.830115 -0.516287
1      0.445618 -0.426820
2     -1.149049 -0.203153
3     -0.192249 -0.449187
4      1.402417  0.848082
...         ...       ...
71317 -0.830115 -0.516287
71318  1.402417 -0.382087
71319 -0.192249  0.400748
71320 -1.149049 -0.404454
71321  0.445618 -0.404454

[71322 rows x 2 columns]

In [132]:
y = y.rename('class')
y

0                Pinot Noir
1                  Riesling
2                Pinot Noir
3        Cabernet Sauvignon
4                Pinot Noir
                ...
71317                   NaN
71318                   NaN
71319                   NaN
71320                   NaN
71321                   NaN
Name: class, Length: 71322, dtype: object

In [133]:
# column bind categorical features with numeric features
master = pd.concat([data_cate, data_numeric,baseline,y], axis=1)
master

,country_Argentina,country_Armenia,country_Australia,country_Austria,country_Brazil,country_Bulgaria,country_Canada,country_Chile,country_Croatia,country_Cyprus,...,wood,would,year,years,yellow,yet,young,zest,zesty,class
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,Pinot Noir
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,Riesling
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,Pinot Noir
3,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,Cabernet Sauvignon
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.203104,0.0,0.0,0.0,0.000000,0.0,Pinot Noir
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71317,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.255432,0.0,NaN
71318,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.247625,0.0,0.0,0.0,0.000000,0.0,NaN
71319,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,NaN
71320,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,NaN
71321,0,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,NaN

# split back into test and train

In [134]:
# Extract has class and not has class
test = master[master['class'].isna()]
train = master[master['class'].notnull()]
test = test.drop(columns = 'class')

print(train.shape)
print(test.shape)

(57056, 812)
(14266, 811)

# train, test split

In [135]:
from sklearn.model_selection import train_test_split

# Separate out the features and targets
features = train.drop(columns='class')
targets = pd.DataFrame(train['class'])

# Split into 80% training and 20% testing set
X, X_test, y, y_test = train_test_split(features, targets, test_size = 0.2, random_state = 42)

print(X.shape)
print(X_test.shape)
print(y.shape)
print(y_test.shape)

(45644, 811)
(11412, 811)
(45644, 1)
(11412, 1)

# saving files to intermin

In [136]:
# Save the training, and testing data
test.to_csv('./processed_data/test.csv', index = False)
X.to_csv('./processed_data/X.csv', index = False)
X_test.to_csv('./processed_data/X_test.csv', index = False)
y.to_csv('./processed_data/y.csv', index = False)
y_test.to_csv('./processed_data/y_test.csv', index = False)